<div class="body">
  <div class="container">
    <div class="contain">
      <a href="#" class="logo"><img src="/assets/images/site/logo.png" alt="" /></a>
      <span class="tel"><span class="code">+7 (343)</span> 213-69-69</span>
      <div class="nav">
        <ol id="nav">
          <li id="nav1"><a href="index.html">О райском месте</a></li>
          <li id="nav2"><a href="employees" class="active">Наши львицы</a></li>
          <li id="nav3"><a href="services.html">Выбери удовольствие</a></li>
          <li id="nav4"><a href="views.html">Наши пейзажи</a></li>
          <li id="nav5"><a href="comments">О нас говорят</a></li>
          <li id="nav6"><a href="rules.html">Закон джунглей</a></li>
          <li id="nav7"><a href="location.html">Найти нас</a></li>
          <li id="nav8"><a href="challengers">Пополни прайд</a></li>
        </ol>
      </div>
      <div class="content">
        <%= @employees.each_with_index do |employee, index| %>
          <% class_value = (0 == index ? "gallery_c visible" : "gallery_c hidden") %>
          <% count = index + 1 %>
          <div class="<%= class_value %>">
            <div class="gallery gallery_<%= count %>">
              <div id="gal_big">
                <% employee.photos.each_with_index do |photo, index1| %>
                  <% count1 = index1 + 1 %>
                  <% class_gal_value = (true == photo.main ? "fancybox_#{count} visible" : "fancybox_#{count} hidden") %>
                  <%= link_to image_tag(photo.path, :width => "287", :height => "223", :rel => "gallery"), photo.path,  :id => count1, :class => class_gal_value %>
                <% end %>
              </div>
              <script>
                $(".fancybox_<%= count %>")
                  .attr('rel', 'gallery')
                  .fancybox({
                    padding : 0
                  });
              </script>
              <% employee.photos.each_with_index do |photo, index2| %>
                <% count2 = index2 + 1 %>
                <%= link_to image_tag(photo.path, :width => "88", :height => "69"), "#", :class => "small", :id => count2 %>
              <% end %>
            </div>
          </div>
          <script type="text/javascript">
            $('.gallery_<%= count %> .small').click(function(){
              var id = $(this).attr('id');
              $(".gallery_<%= count %> #gal_big a").attr('class', 'fancybox_<%= count %> hidden')
              $(".gallery_<%= count %> #gal_big #" + id).attr('class', 'fancybox_<%= count %> visible')
            });
          </script>
          <div class="gallery_d">
            <div>
              <span class="shown_name"><%= employee.shown_name %></span>
              <span class="small_description"><%= employee.small_description %></span>
              <span class="params"><span>Параметры:</span><%= employee.bust %> / <%= employee.waist %> / <%= employee.hips %></span>
            </div>
          </div>
        <% end %>
        <div class="clr"></div>
        <div class="more_girls">
          <h1>Наши львицы</h1>
          <div>
            <% @employees.each do |employee|%>
              <%= link_to image_tag(employee.photos.main.first.path, :width => "106", :height => "82"), "#" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
